<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['clientes']">
        <mat-icon>list</mat-icon>
      </a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="clienteForm" (ngSubmit)="onFormSubmit(clienteForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CPF" formControlName="cpf_client" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!clienteForm.get('cpf_client').valid && livroForm.get('cpf_client').touched">Por favor insira o CPF</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome" formControlName="nome_client" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!clienteForm.get('nome').valid && clienteForm.get('nome_client').touched">Por favor insira o nome</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Telefone" formControlName="telefone" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!clienteForm.get('telefone').valid && clienteForm.get('telefone').touched">Por favor insira o telefone</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sexo" formControlName="sexo" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!clienteForm.get('sexo').valid && clienteForm.get('sexo').touched">Por favor insira o sexo</span>
          </mat-error>
        </mat-form-field>
        <!--<mat-form-field class="example-full-width">
            <mat-label>Locadora</mat-label>
            <mat-select formControlName="locadora">
                <mat-option *ngFor="let locadora of locadoras" [value]="locadora.id">
                  {{locadora.nome}}
                </mat-option>
              </mat-select>
        </mat-form-field>-->
        <div class="button-row">
          <button type="submit" [disabled]="!clienteForm.valid" mat-flat-button color="primary">
            <mat-icon>SAVE</mat-icon>
          </button>
        </div>
      </form>
    </mat-card>
  </div>